{% include 'header.html' %}

{% with messages = get_flashed_messages() %}

<br>

{% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
            {{message}}
        {% endfor %}
    </div>
{% endif %}

{% endwith %}


<form method="post" action="/store" enctype="multipart/form-data">

    <div class="card">
        <div class="card-header">
            Ingresar Empleados
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos del empleado</h5>
            <p class="card-text">
                <div class="form-group">
                    <label for="my-input">Nombre:</label>
                    <input id="txtNombre" class="form-control" type="text" name="txtNombre">
                </div>
                <div class="form-group">
                    <label for="my-input">Correo:</label>
                    <input id="txtCorreo" class="form-control" type="text" name="txtCorreo">
                </div>
                <div class="form-group">
                    <label for="my-input">Foto:</label>
                    <input id="txtFoto" class="form-control" type="file" name="txtFoto">
                </div>
                <br>
                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Agregar">
                        <a href="{{url_for('index')}}" class="btn btn-primary">Regresar</a>
                </div>
            </p>
        </div>
    </div>







    

</form>

{% include 'footer.html' %}